doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        script(src="https://cdn.tailwindcss.com") 
        style(type="text/css").
            body {
                padding: 1rem;
            }

    body.grid.grid-cols-1.gap-y-4 
        h1.text-lg.font-bold Net Worth Sheet

        div.grid.grid-cols-2.gap-x-4
            div.grid.grid-cols-1.gap-y-4.h-fit
                div.inline-grid.grid-cols-1.gap-y-1
                    p.font-bold Assets
                    div.inline-block.h-1.bg-blue-400.rounded-full
                ul.w-full.grid.grid-cols-1.gap-y-2
                    each item in assets
                        li.w-full.flex.justify-between
                            span= item.name 
                            span= `${currencySymbol}${item.value}`
                    
                    li.w-full.flex.justify-between.py-2.font-bold
                            span Total 
                            span #{currencySymbol}#{assetTotal}

            div.grid.grid-cols-1.gap-y-4.h-fit
                div.inline-grid.grid-cols-1.gap-y-1
                    p.font-bold Liabilities
                    div.inline-block.h-1.bg-blue-400.rounded-full
                ul.w-full.grid.grid-cols-1.gap-y-2
                    each item in liabilities
                        li.w-full.flex.justify-between
                            span= item.name 
                            span= `${currencySymbol}${item.value}`
                    
                    li.w-full.flex.justify-between.py-2.font-bold
                            span Total 
                            span #{currencySymbol}#{liabilityTotal}

        .grid.grid-cols-1.gap-y-2
            div.grid.grid-cols-1.gap-y-1
                p.text-base.font-bold Net Position
                div.inline-block.h-1.bg-blue-400.rounded-full
            p.font-bold.text-base #{currencySymbol}#{total}