doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        script(src="https://cdn.tailwindcss.com") 
        style(type="text/css").
            body {
                padding: 1rem;
            }

    body 
        h1 Net Worth Sheet

        .grid.grid-cols-2.gap-x-4
            .innerItemContainer
                p Assets
                ul.w-full
                    each item in assets
                        li.w-full.flex.justify-between
                            span= item.name 
                            span= `${currencySymbol}${item.value}`
                    
                    li Total Assets: #{currencySymbol}#{assetTotal}
            .innerItemContainer
                p Liabailities
                ul
                    each item in liabilities
                        li.w-full.flex.justify-between
                            span= item.name 
                            span= `${currencySymbol}${item.value}`
                    
                    li Total Liabilities: #{currencySymbol}#{liabilityTotal}

        p Net Position: #{currencySymbol}#{total}