doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        style

    body 
        h1 Net Worth Sheet

        p Assets
        ul
            each item in assets
                li 
                    span= item.name 
                    span= `$${item.value}`
            
            li Total Assets: $#{assetTotal}

        p Liabailities
        ul
            each item in liabilities
                li 
                    span= item.name 
                    span= `$${item.value}`
            
            li Total Liabilities: $#{liabilityTotal}

        p Net Position: $#{total}